@font-face {
    font-family: DuruSans;
    src: url("../assets/font/DuruSans/DuruSans-Regular.ttf");
}

@font-face {
    font-family: MontserratMedium;
    src: url("../assets/font/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("../assets/font/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: MavenProRegular;
    src: url("../assets/font/MavenPro/MavenPro-Regular.ttf");
}