<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button>
    <ion-icon name="diamond-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>

  <ion-tab-bar>

    <ion-tab-button tab="monitoramento">
      <ion-icon name="cellular-outline"></ion-icon>
      <!-- <ion-label>Monitoramento</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="receita">
      <ion-icon name="trending-up-outline"></ion-icon>
      <!-- <ion-label>Receita</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="despesa">
      <ion-icon name="trending-down-outline"></ion-icon>
      <!-- <ion-label>Despesa</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="configuracao">
      <ion-icon name="construct-outline"></ion-icon>
      <!-- <ion-label>Configuração</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>