<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <div class="valor">
      R$ 20.000,00
    </div>

    <div class="saldo">
      Saldo em Contas
    </div>

  </div>

  <div class="totalizador">

    <ion-item lines="none">
    
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="trending-up-outline" style="color: #64c755;"></ion-icon>
          </ion-col>
          <ion-col size="5">
            <ion-label>
              <h6>Receitas</h6>
              <h4>R$ 10.000,00</h4>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="trending-down-outline" style="color: #c75555;"></ion-icon>
          </ion-col>
          <ion-col size="5">
            <ion-label>
              <h6>Despesas</h6>
              <h4>R$ 10.000,00</h4>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </ion-item>
    
  </div>

  <div class="movimentacao ion-padding">

    <h5 style="font-weight: bold;">Movimentação</h5>

    <ion-item lines="none">

      <ion-grid>

        <ion-row>
          <ion-col size="1">
            <ion-icon name="logo-amazon" class="icone"></ion-icon>
          </ion-col>
          <ion-col size="6" style="margin-left: 18px;">
            <ion-label>
              <h6 style="font-weight: bold;">Amazon Brasil</h6>
              <h4>Echo Dot (4ª Geração): Smart Speaker com Alexa - Cor Preta</h4>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label>
              <h5 style="font-weight: bold;">R$ 2.084,05</h5>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1">
            <ion-icon name="logo-apple" class="icone"></ion-icon>
          </ion-col>
          <ion-col size="6" style="margin-left: 18px;">
            <ion-label>
              <h6 style="font-weight: bold;">Amazon Brasil</h6>
              <h4>Macbook Pro 512GB M1</h4>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label>
              <h5 style="font-weight: bold;">R$ 12.084,05</h5>
            </ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </div>

</ion-content>
